chartVersion: 0.0.63-20251029142515-eba80de2
chartRepository: toolsbeta
environment: local

maintainHarbor:
  harborAuth:
    harborURL: "http://{{ exec "../../helpers/get_harbor_ip.sh" (list) }}/api/v2.0"
    harborUsername: "robot$maintain-harbor"
    harborPassword: "Dummyr0botpass"

  toolforgeRepoArtifactLimit: 5

  projectQuota:
    default: -1
    overrides: {}
