chartVersion: 0.0.73-20260804112956-fcba8c11
chartRepository: toolsbeta
environment: local

maintainHarbor:
  harborAuth:
    harborURL: "http://harbor.local/api/v2.0"
    harborUsername: "robot$maintain-harbor"
    harborPassword: "Dummyr0botpass"

  toolforgeRepoArtifactLimit: 5

  projectQuota:
    default: -1
    overrides: {}
