chartVersion: 0.0.20-20250204235116-d595f2ae
chartRepository: toolsbeta
environment: local

maintainHarbor:
  config:
    harborURL: "http://{{ exec "../../helpers/get_harbor_ip.sh" (list) }}/api/v2.0"
    harborUsername: maintain-harbor
    harborPassword: Dummyuserpass0
    toolforgeRepoArtifactLimit: 5
