chartVersion: 0.0.128-20240212150430-023b8914
chartRepository: tools

config:
  builder: tools-harbor.wmcloud.org/toolforge/heroku-builder:22
  okBuildsToKeep: 4
  failedBuildsToKeep: 2
  harborUsername: {{ exec "../../helpers/get_secret.sh" (list "harborUsername") }}
  harborPassword: {{ exec "../../helpers/get_secret.sh" (list "harborPassword") }}

certificates:
  internalClusterDomain: tools.local
