chartVersion: 0.0.171-20241001092826-1929cb0c
chartRepository: toolsbeta

config:
  harborRepository: https://toolsbeta-harbor.wmcloud.org
  builder: toolsbeta-harbor.wmcloud.org/toolforge/heroku-builder:22
  harborUsername: {{ exec "../../helpers/get_secret.sh" (list "harborUsername") }}
  harborPassword: {{ exec "../../helpers/get_secret.sh" (list "harborPassword") }}

certificates:
  internalClusterDomain: toolsbeta.local

kubeVersion: ">=1.22"
