chartVersion: 0.0.171-20241001092826-1929cb0c
chartRepository: tools

config:
  builder: tools-harbor.wmcloud.org/toolforge/heroku-builder:22
  okBuildsToKeep: 4
  failedBuildsToKeep: 2
  harborUsername: {{ exec "../../helpers/get_secret.sh" (list "harborUsername") }}
  harborPassword: {{ exec "../../helpers/get_secret.sh" (list "harborPassword") }}

certificates:
  internalClusterDomain: tools.local

kubeVersion: ">=1.22"
