chartVersion: 0.0.96-20230914095229-353f3d3b
chartRepository: toolsbeta

config:
  harborRepository: https://toolsbeta-harbor.wmcloud.org
  builder: toolsbeta-harbor.wmcloud.org/toolforge/heroku-builder-classic:22
  harborUsername: {{ exec "../../helpers/get_secret.sh" (list "harborUsername") }}
  harborPassword: {{ exec "../../helpers/get_secret.sh" (list "harborPassword") }}

certificates:
  internalClusterDomain: toolsbeta.local
