chartVersion: 0.0.135-20240403135825-3fbb196f
chartRepository: tools

config:
  builder: tools-harbor.wmcloud.org/toolforge/heroku-builder:22
  okBuildsToKeep: 4
  failedBuildsToKeep: 2
  harborUsername: {{ exec "../../helpers/get_secret.sh" (list "harborUsername") }}
  harborPassword: {{ exec "../../helpers/get_secret.sh" (list "harborPassword") }}

certificates:
  internalClusterDomain: tools.local
