# Update to your mr version tag
chartVersion: 0.0.54-20241119190632-ec34b7a8
chartRepository: toolsbeta
replicaCount: 1
allowedRegistries:
  - "docker-registry.tools.wmflabs.org"
  - "toolsbeta-harbor.wmcloud.org"
  - "tools-harbor.wmcloud.org"
  - {{ exec "../../helpers/get_harbor_ip.sh" (list) }}

excludedNamespaces:
  - "kube-system"
  - "foxtrot-ldap"

resources: ~
