loki:
  chartVersion: 6.45.2
  storage:
    bucketNames:
      chunks: toolsbeta-loki-infra-tracing-chunks
      ruler: toolsbeta-loki-infra-tracing-ruler
      admin: toolsbeta-loki-infra-tracing-admin

infraTracingLoki:
  htpasswd: {{ exec "../../helpers/get_secret.sh" (list "infraTracingLokiHtpasswd") | quote }}
