chartVersion: 0.0.93-20240222212537-5707b25d
chartRepository: toolsbeta

withLocalVolume: true
repository:
  username: "robot$tekton"
  password: "Dummyr0botpass"
  # You can override this by exporting the env var HARBOR_IP before running ./depoy.sh
  url: http://{{ exec "../../helpers/get_harbor_ip.sh" (list) }}

dockerconfig: '{"insecure-registries": ["http://{{ exec "../../helpers/get_harbor_ip.sh" (list) }}"]}'
