chartVersion: 0.0.107-20240702102918-afd8fe1a
chartRepository: toolsbeta

withLocalVolume: true
repository:
  username: "robot$local-image-builder"
  password: "Dummyr0botpass"
  # You can override this by exporting the env var HARBOR_IP before running ./depoy.sh
  url: http://{{ exec "../../helpers/get_harbor_ip.sh" (list) }}

dockerconfig: '{"insecure-registries": ["http://{{ exec "../../helpers/get_harbor_ip.sh" (list) }}"]}'
