chartVersion: 0.0.151-20260601140242-4edb4f52
chartRepository: toolsbeta

withLocalVolume: true
repository:
  username: "robot$local-image-builder"
  password: "Dummyr0botpass"
  # You can override this by exporting the env var HARBOR_HOSTNAME before running ./depoy.sh
  url: http://harbor.local

imagesSource:
  runImage:
    toolforge: "toolsbeta-harbor.wmcloud.org/toolforge/heroku-runner:22-cnb"

dockerconfig: '{"insecure-registries": ["http://harbor.local"]}'

kubeVersion: ">=1.21"
