chartVersion: 0.0.124-20250204235137-18656c89
chartRepository: toolsbeta

repository:
  username: {{ exec "../../helpers/get_secret.sh" (list "harborImageBuilderUsername") }}
  password: {{ exec "../../helpers/get_secret.sh" (list "harborImageBuilderPassword") }}
  url: toolsbeta-harbor.wmcloud.org

imagesSource:
  runImage:
    toolforge: "toolsbeta-harbor.wmcloud.org/toolforge/heroku-runner:22-cnb"

kubeVersion: ">=1.21"
