chartVersion: 0.0.99-20240411190508-36418917
chartRepository: tools

repository:
  username: {{ exec "../../helpers/get_secret.sh" (list "harborImageBuilderUsername") }}
  password: {{ exec "../../helpers/get_secret.sh" (list "harborImageBuilderPassword") }}
  url: tools-harbor.wmcloud.org
