chartVersion: 0.0.143-20260324172359-c67d1d81
chartRepository: tools

repository:
  username: {{ exec "../../helpers/get_secret.sh" (list "harborImageBuilderUsername") }}
  password: {{ exec "../../helpers/get_secret.sh" (list "harborImageBuilderPassword") }}
  url: tools-harbor.wmcloud.org

kubeVersion: ">=1.21"
