chartVersion: 0.0.93-20240222212537-5707b25d
chartRepository: toolsbeta

repository:
  username: {{ exec "../../helpers/get_secret.sh" (list "harborImageBuilderUsername") }}
  password: {{ exec "../../helpers/get_secret.sh" (list "harborImageBuilderPassword") }}
  url: toolsbeta-harbor.wmcloud.org
