chartVersion: 0.0.76-20231012133802-65e5029c
chartRepository: tools

repository:
  username: {{ exec "../../helpers/get_secret.sh" (list "harborImageBuilderUsername") }}
  password: {{ exec "../../helpers/get_secret.sh" (list "harborImageBuilderPassword") }}
  url: tools-harbor.wmcloud.org
