chartVersion: 0.0.321-20240717143951-2c8a3296
chartRepository: toolsbeta
replicas: 1
harbor:
  host: {{ exec "../../helpers/get_harbor_ip.sh" (list) }}
  protocol: "http"

webservice:
  DEBUG: "true"
