chartVersion: 0.0.316-20240716111532-0c1067f7
chartRepository: toolsbeta
replicas: 1
harbor:
  host: {{ exec "../../helpers/get_harbor_ip.sh" (list) }}
  protocol: "http"

webservice:
  DEBUG: "true"
