chartVersion: 0.0.556-20260804094055-ad1142c2
chartRepository: toolsbeta
replicas: 1
harbor:
  host: harbor.local
  protocol: "http"

webservice:
  debug: "true"
  default_cpu_limit: "1000m"
  public_domain: "local"

loki:
  url: http://loki-tools.loki.svc.cluster.local:3100/loki
